apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      version: "7.x.x"
  install:
    createNamespace: true
  values:
    persistence:
      enabled: false
    adminUser: admin
    adminPassword: admin
    service:
      type: ClusterIP

